# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
ENV
*.egg-info

# Тесты
tests/
.pytest_cache
htmlcov
.coverage
*.db
*.sqlite
*.sqlite3

# IDE
.vscode
.idea
*.swp

# Документация
*.md
LICENSE
docs/

# CI/CD конфиги
.gitlab-ci.yml
.github/